@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

footer{
    height: 8vh;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

header{
    
    background-color: black;
    font-family: 'Lato', sans-serif;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
 }
 nav ul li a{
    color: white;
    text-decoration: none;
 }
 nav ul li a:hover{
    color: rgb(217, 185, 185);
    font-weight: bold;
 }
.search {
    display: flex;
    align-items: center; 
}
.search input{
    width: 30vw;
    height: 23px;
    border-radius: 4px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
 nav{
    display: flex;
 }
.logo{
    display: flex;
    align-items: center;
    height: 26px;
    padding: 15px 15px 15px 20px;
}
.logo img{
    height: 100px;
}
.container {
    min-height: calc(100vh - 58px - 12vh);
}
.slider{
    margin: 12px auto;
    width: 80vw;
    overflow: hidden;
}
.card{
    background-color: rgb(254, 254, 254);
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}
.card h2{
    font-family: 'Lato', sans-serif;
}
.my-2{
    margin: 26px 0;
}
.text-center{
    text-align: center;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 10vw;
    margin: 0 15px;
}
.my-1{
    margin: 5px 0;
}
.cards{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
